.Tableau {
  align-items: center;
  display: flex;
  gap: 2em;
  justify-content: center;
  padding: 1em;
  width: 100%;
}

.Tableau__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.Tableau__button {
  background-color: var(--color-highlight);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-background);
  font-weight: 900;
  padding: 0.5em;
}

.Tableau__button:hover {
  cursor: pointer;
}