.Tableau {
  position: absolute;
  bottom: 1em;

  display: flex;
  gap: 4em;
  align-items: center;
  justify-content: center;

  width: calc(100% - 2em);
}

.Tableau__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.Tableau__button {
  background-color: var(--color-highlight);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-background);
  font-weight: 900;
  padding: 0.5em;
}

.Tableau__button:hover {
  cursor: pointer;
}