.CardBack {
  --padding: 0.25em;
  align-items: center;
  border: var(--border);
  border-radius: 0.25rem;
  color: var(--color-text);
  display: flex;
  font-weight: 600;
  height: 6em;
  justify-content: center;
  padding: var(--padding);
  width: 4em;
}

.CardBack:hover {
  cursor: pointer;
}

.CardBack-type {
  font-size: 3em;
  text-transform: uppercase;
}