.Card {
  --padding: 0.25em;
  background-color: var(--color-background);
  border: var(--border);
  border-radius: 0.25em;
  color: var(--color-text);
  font-weight: 600;
  height: 6em;
  padding: var(--padding);
  position: relative;
  width: 4em;
}

.Card--current {
  transform: translateY(-1rem);
}

.Card:hover {
  cursor: pointer;
}

.Card-value {
  left: var(--padding);
  position: absolute;
  top: var(--padding);
}

.Card-type {
  bottom: var(--padding);
  left: var(--padding);
  position: absolute;
  text-transform: uppercase;
}