.Card {
  --padding: 0.25em;
  position: relative;

  padding: var(--padding);
  width: 4rem;
  height: 6rem;

  border: 0.25rem solid var(--color-border);
  border-radius: 0.25rem;
  color: var(--color-text);
  font-weight: 600;
}

.Card:hover {
  cursor: pointer;
}

.Card-value {
  position: absolute;
  top: var(--padding);
  left: var(--padding);
}

.Card-type {
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  text-transform: uppercase;
}
