.CardBack {
  --padding: 0.25em;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--padding);
  width: 4rem;
  height: 6rem;

  border: 0.25rem solid var(--color-border);
  border-radius: 0.25rem;
  color: var(--color-text);
  font-weight: 600;
}

.CardBack:hover {
  cursor: pointer;
}

.CardBack-type {
  font-size: 3em;
  text-transform: uppercase;
}
