.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App__header {
  background-color: var(--color-background);
  border-bottom: 0.25rem solid var(--color-border);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

.App__header > * {
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
}

.App__header a,
.App__header a:hover,
.App__header a:active,
.App__header a:visited {
  border-bottom: 0.25em solid var(--color-highlight);
  color: var(--color-highlight);
  text-decoration: none;
}

.App__main {
  display: flex;
  flex: 1 0 auto;
  padding: 1em;
  text-align: center;
}

.App__main > * {
  flex: 1 0 auto;
}

.App__main > *:first-child,
.App__main > *:last-child {
  flex: none;
}