@import-normalize;

:root {
  --color-background: #fff;
  --color-border: #000;
  --color-text: #000;
  --color-highlight: #8a060d;
  --color-square-default: #989898;
  --color-square-terminus: #efd543;
  --color-square-ascent: #eb222e;
  --color-square-descent: #2377ba;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}