.Square {
  stroke: var(--color-border);
  stroke-width: 1px;
}

.Square--default {
  fill: var(--color-square-default);
}

.Square--start,
.Square--finish {
  fill: var(--color-square-terminus);
}

.Square--ascent {
  fill: var(--color-square-ascent);
}

.Square--descent {
  fill: var(--color-square-descent);
}